## Visual Studio files
.vs/
*.user
*.suo
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

## Visual Studio cache/options directory
.vscode/

## Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/

## Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## Visual Studio cache files
*.cache

## Others
*.bak
*.swp
*~
*.DS_Store
